{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for parcel in parcels %}
    <title>{{ parcel.FileNumber }}</title>
    {% endfor %}

    <style>
        img {zoom: 30%; }
        @page {
        size: a4 portrait;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 50pt; height: 40pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 50pt; width: 512pt; top: 90pt; height: 632pt;
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 772pt; height: 20pt;
        }
    }
    </style>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div id="header_frame"></div>
    <div id="content_frame">
        {% for parcel in parcels %}
        
        <h1 style="font-weight: lighter; font-size: 1.4em;">FILENO: <span style="font-weight: bolder;">{{ parcel.FileNumber }}</span></h1>
        <h1 style="font-weight: lighter; font-size: 1.4em;">PLOT DESCRIPTION: <span style="font-weight: bolder; text-transform: uppercase;">PLOT {{ parcel.Plot_No }} {{ parcel.Address }}</span></h1>
        <h1 style="font-weight: lighter; font-size: 1.4em;">LGA: <span style="font-weight: bolder; text-transform: uppercase;">{{ parcel.LGA }}</span></h1>
        <h1 style="font-weight: lighter; font-size: 1.4em;">SURVEY PLAN NUMBER: <span style="font-weight: bolder;">{{ parcel.Plan_No }}</span></h1>
            {% for line in lines %}
                {% if line.FromBeaconNo == parcel.Starting_Pillar_No %}
        <h1 style="font-weight: lighter; font-size: 1.4em;">REFERENCE PILLAR NO/ COORDINATES: <span style="font-weight: bolder;">{{ parcel.Starting_Pillar_No }} ({{ line.Eastings}}E AND {{line.Northings}}N)</span></h1>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <p style="display:block; margin-bottom: -1em; font-size: 2px; text-align: center; font-style: italic;">ABIAG ISAB IA GISA BIAGISA BIAG ISAB IA GISA BIAGISA BIAG ISABIA GISAB IAGISA BIAG ISABIA GISAB IAGISA BIAG IS ABIAG ISAB IA GISA BIAGISA BIAG ISAB IA GISA BIAGISA BIAG ISABIA GISAB IAGISA BIAG ISABIA GISAB IAGISA BIAG IS ABIAG ISAB IA GISA BIAGISA
            ABIAG ISAB IA GISA BIAGISA BIAG ISAB IA GISA BIAGISA BIAG ISABIA GISAB IAGISA BIAG ISABIA GISAB IAGISA BIAG IS ABIAG ISAB IA GISA BIAGISA BIAG ISAB IA GISA BIAGISA BIAG ISABIA GISAB IAGISA BIAG ISABIA </p>
    
        <p style="display:block; margin-bottom: -1em; font-size: large;">A. O. IVONYE</p>
        <p style="margin-left:-1em; margin-top: -1em;">SURVEYOR GENERAL</p>
    
        <div class="container">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    {% for parcel in parcels %}
                    <img style="display:block; margin-left:200px;" src="http://localhost:8000{% static 'images/' %}{{parcel.FileNumber}}.png" alt="Parcel Image">
                    {% endfor %}
                </div>
                <div class="col-4"></div>
            </div>
        </div>
        <p style="text-decoration: underline; text-align: center; font-weight: bold;">BEACON READINGS</p>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table class="table table-sm table-borderless align-middle me-2" cellspacing="0">
                        <thead>
                          <tr> 
                            <td>No</td>
                            <td>FromBeacon</td>
                            <td>Direction</td>
                            <td>Length</td>
                            <td>ToBeacon</td>
                          </tr>
                        </thead>
                        <tbody>
                            {% for line in lines %}
                            <tr>
                                <td>{{ line.Sequence }}</td>
                                <td>{{ line.FromBeaconNo }}</td>
                                <td>{{ line.Direction }}</td>
                                <td>{{ line.Length }}</td>
                                <td>{{ line.ToBeaconNo}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

    <footer id="footer_content">
        <p>GENERATED BY: ABIAGIS @ {{ time }} & GENERATED BY GIS</p>
        <img style="width: 150px; position: absolute; bottom: 8px; right: 16px;" src="http://localhost:8000{% static 'images/logo1.png' %}" alt="">
    </footer>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>