<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
 
</head>
<body>

    {% if parcel_detail %}

      <h1>You Searched for {{ parcel_detail.FileNumber }}</h1>

      <h2>Name of Allottee: {{ parcel_detail.Name_of_Allottee }}</h2>
      <h2>LGA: {{ parcel_detail.LGA }}</h2>
      <h2>Plan No: {{ parcel_detail.Plan_No }}</h2>
      <h2>Starting Pillar No: {{ parcel_detail.Starting_Pillar_No }}</h2>
      <h2>R Particulars: {{ parcel_detail.R_Particulars }}</h2>
      <h2>PercelID: {{ parcel_detail.OBJECTID }}</h2>

        <h2 class="mt-4">BEACON READINGS</h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Sequence</th>
                        <th scope="col">FromBeacon</th>
                        <th scope="col">Direction</th>
                        <th scope="col">Length</th>
                        <th scope="col">ToBeacon</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                        {% for line in lines %}
                            
                      <tr>
                            <td>{{ line.Sequence }}</td>
                            <td>{{ line.FromBeaconNo }}</td>
                            <td>{{ line.Direction }}</td>
                            <td>{{ line.Length }}</td>
                            <td>{{ line.ToBeaconNo}}</td>
                        
                            
                        {% endfor %}
                      </tr>
                      
                    </tbody>
                  </table>
    {% else %}
      <h1>Parcel Not Found</h1>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
 
  </body>
</html>